* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cor-primaria: #a6ff00;
  --cor-secundaria: #232129;
  --cor-texto: #f4ede8;
  --cor-fundo: #312e38;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--cor-fundo);
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid blue; */
  align-items: center;
  justify-content: center;
}

.esquerdo {
  /* border: 1px solid blue; */
  align-items: center;
  justify-content: center;
  display: flex;
}

.direito {
  /* border: 1px red solid; */
  object-fit: cover;
  align-items: center;
  justify-content: center;
  display: flex;
}
/* logo do topo */
.logotopo {
  position: absolute;
}

.logotopo2 {
  display: flex;
  position: relative;
  transform: translateY(-17rem);
}
.retang {
  width: 230px;
  height: 4px;
  background-color: var(--cor-primaria);
  display: flex;
  position: relative;
  transform: translateY(-2.5rem);
}

/* TELA DE LOGIN */

.container-login {
  /* border: 1px solid red; */
  width: 340px;
  height: 503px;
  opacity: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.login {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.login h1 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--cor-texto);
}
.criarconta a {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  transform: translateY(100px);
  text-decoration: none;
}

input {
  width: 340px;
  height: 56px;
  opacity: 1;
  border-radius: 10px;
  border: none;
}

input:focus {
  outline: none;
  box-shadow: 2px 2px 10px rgba(166, 255, 0, 0.5);
}

/* imagem login */
.input-img {
  position: relative;
  height: 56px;
  margin-bottom: 0.5rem;
}

.input-email {
  width: 100%;
  position: relative;
  padding-left: 50px;
  background-color: var(--cor-secundaria);
}
.img-input {
  position: relative;
  width: 20px;
  height: 18px;
  opacity: 1;
  bottom: 40px;
  margin-left: 16px;
}
/* imagem passowrd */
.input-password {
  position: relative;
  height: 56px;
  margin-bottom: 1.5rem;
}

.input-pass {
  width: 100%;
  position: relative;
  padding-left: 50px;
  background-color: var(--cor-secundaria);
}

.img-password {
  position: relative;
  width: 20px;
  height: 18px;
  opacity: 1;
  bottom: 40px;
  margin-left: 16px;
}
.enter {
  background-color: var(--cor-primaria);
  font-weight: 500;
}

.forgot {
  position: relative;
  color: var(--cor-texto);
  bottom: -1rem;
}

@media (max-width: 768px) {
  body {
    display: flex;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .direito {
    display: none;
  }
  .login {
    width: 295px;
    height: 400px;
  }
  .container-login {
    width: 295px;
    height: 400px;
  }

  input {
    width: 295px;
    height: 50px;
  }
  .retang {
    transform: translateY(-0.5rem);
  }
  .logotopo2 {
    transform: translateY(-18rem);
  }
}
